animl-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- CHANGES:
- References cleaned up
- Index-based referencing mechanism implemented
- Removed Parent/SiblingDataPointReferenceSets and corresponding types
- Using Parent/SiblingDataPointReference directly
				
- TODO:
	- Constraints for new referencing mechanism need to be added
	- If the draft for the new referencing model will be accepted then the schema must be reviewed for old IndexRef constraints.
	- The ordering of global ComplexType declarations and global Element definitions must be reviewed
-->
<xsd:schema targetNamespace="urn:org:astm:animl:schema:core:draft:0.1" xmlns="urn:org:astm:animl:schema:core:draft:0.1" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	<!--Root-Node of every AnIML document-->
	<xsd:element name="AnIML" type="AnIMLType">
		<xsd:annotation>
			<xsd:documentation>Root Element for AnIML documents.</xsd:documentation>
		</xsd:annotation>
		<xsd:key name="sampleID">
			<xsd:selector xpath="SampleSet/Sample"/>
			<xsd:field xpath="@sampleID"/>
		</xsd:key>
		<xsd:keyref name="sampleIDUsage" refer="sampleID">
			<xsd:selector xpath=".//ExperimentStep/SamplesUsed/SampleRef"/>
			<xsd:field xpath="@sampleID"/>
		</xsd:keyref>
		<!-- annotation -->
	</xsd:element>
	<xsd:complexType name="AnIMLType">
		<xsd:annotation>
			<xsd:documentation>ComplexType for the root element of an AnIML document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SampleSet" minOccurs="0"/>
			<xsd:element ref="ExperimentStepSet" minOccurs="0"/>
			<xsd:element ref="AuditTrail" minOccurs="0"/>
			<xsd:element ref="SignatureSet" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" use="required" fixed="0.1">
			<xsd:annotation>
				<xsd:documentation>Version number of this AnIML document. Must be "0.1".</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!-- -->
	<!--Top-Level document elements-->
	<xsd:element name="SampleSet" type="SampleSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Samples used in this AnIML document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleSetType">
		<xsd:sequence>
			<xsd:element ref="Sample" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="ExperimentStepSet" type="ExperimentStepSetType">
		<xsd:annotation>
			<xsd:documentation>Container for multiple ExperimentSteps that describe the process and results.</xsd:documentation>
		</xsd:annotation>
		<xsd:keyref name="vectorIDRef" refer="vectorID">
			<xsd:selector xpath=".//ExperimentStep/References/IndexRef"/>
			<xsd:field xpath="@vector"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="ExperimentStepSetType">
		<xsd:sequence>
			<xsd:element ref="Template" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ExperimentStep" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="AuditTrail" type="AuditTrailType">
		<xsd:annotation>
			<xsd:documentation>Container for log entries describing changes to this document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AuditTrailType">
		<xsd:sequence>
			<xsd:element ref="LogEntry" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="SignatureSet" type="SignatureSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Digital Signatures to validate parts of this AnIML document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SignatureSetType">
		<xsd:sequence>
			<xsd:element ref="Signature" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- SampleSet information-->
	<xsd:element name="Sample" type="SampleType">
		<xsd:annotation>
			<xsd:documentation>Individual Sample, referenced from other parts of this AnIML document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleType">
		<xsd:sequence>
			<xsd:element ref="ParameterCategorySet" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
		<xsd:attribute name="sampleID" type="xsd:token" use="required"/>
		<xsd:attribute name="barcode" type="xsd:token" use="optional">
			<xsd:annotation>
				<xsd:documentation>Value of barcode label that is attached to sample container.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="derived" type="xsd:boolean" use="optional" default="false">
			<xsd:annotation>
				<xsd:documentation>Indicates whether this is a derived Sample. A derived Sample is a Sample that has been created by applying a Technique. (Sub-Sampling, Processing, ...)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="SamplePurpose">
		<xsd:annotation>
			<xsd:documentation>Specifies whether a sample is consumed or produced in an experiment.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="produced"/>
			<xsd:enumeration value="consumed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Elements representing process information and data-->
	<xsd:element name="ExperimentStep" type="ExperimentStepType">
		<xsd:annotation>
			<xsd:documentation>Container that documents a step in an experiment. Use one ExperimentStep per application of a Technique.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ExperimentStepType">
		<xsd:annotation>
			<xsd:documentation>Container that documents a step in an experiment. Use one ExperimentStep per application of a Technique.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Author" minOccurs="0"/>
			<xsd:element ref="Timestamp" minOccurs="0"/>
			<xsd:element ref="ParentDataPointReference" minOccurs="0"/>
			<xsd:element ref="SampleReferenceSet" minOccurs="0"/>
			<xsd:element ref="Technique" minOccurs="0"/>
			<xsd:element ref="ParameterCategorySet" minOccurs="0"/>
			<xsd:element ref="PageSet" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
		<xsd:attribute name="templateUsed" type="xsd:token" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Template" type="TemplateType">
		<xsd:annotation>
			<xsd:documentation>ExperimentStep templates</xsd:documentation>
			<xsd:documentation>Represents a container for ExperementStep templates</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TemplateType">
		<xsd:annotation>
			<xsd:documentation>Children of Template element</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Author" minOccurs="0"/>
			<xsd:element ref="Timestamp" minOccurs="0"/>
			<xsd:element ref="Technique" minOccurs="0"/>
			<xsd:element ref="ParameterCategorySet" minOccurs="0"/>
			<xsd:element ref="PageSet" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
		<xsd:attribute name="templateId" type="xsd:token" use="required"/>
	</xsd:complexType>
	<xsd:element name="Author" type="AuthorType">
		<xsd:annotation>
			<xsd:documentation>Person or device that created this ExperimentStep.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AuthorType">
		<xsd:complexContent>
			<xsd:extension base="UserInformationType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Timestamp" type="TimestampType">
		<xsd:annotation>
			<xsd:documentation>Date and time of modification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TimestampType">
		<xsd:annotation>
			<xsd:documentation>Date and time of modification.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:dateTime"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="SampleReferenceSet" type="SampleReferenceSetType">
		<xsd:annotation>
			<xsd:documentation>Set of Samples used in this Experiment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleReferenceSetType">
		<xsd:annotation>
			<xsd:documentation>Set of Samples used in this Experiment.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SampleReference" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="Technique" type="TechniqueType">
		<xsd:annotation>
			<xsd:documentation>Reference to Technique used in this Experiment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TechniqueType">
		<xsd:annotation>
			<xsd:documentation>Reference to Technique used in this Experiment.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Extension" minOccurs="0" maxOccurs="unbounded"/>
			<!--			<xsd:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/> -->
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
		<xsd:attribute name="uri" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>URI where Technique Definition file can be fetched.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="PageSet" type="PageSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Pages that contain the results gleaned from the Technique.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PageSetType">
		<xsd:sequence>
			<xsd:element ref="Page" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<!-- ParentDataPointReferenceSet related information-->
	<xsd:element name="ParentDataPointReference" type="ParentDataPointReferenceType">
		<xsd:annotation>
			<xsd:documentation>Establishes a reference to a data point or value range in the page within the super-ordinate page set</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParentDataPointReferenceType">
		<xsd:annotation>
			<xsd:documentation>Datatype which defines a reference to a data point or value range in the page within the super-ordinate page set</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataPointReferenceType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--SampleReferenceSet related information-->
	<xsd:element name="SampleReference" type="SampleReferenceType">
		<xsd:annotation>
			<xsd:documentation>Reference to a Sample used in this Experiment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleReferenceType">
		<xsd:attributeGroup ref="SignableItem"/>
		<xsd:attribute name="sampleID" type="xsd:token" use="required"/>
		<xsd:attribute name="role" type="xsd:token" use="required"/>
		<xsd:attribute name="purpose" type="SamplePurpose" use="required"/>
	</xsd:complexType>
	<!--Technique related information-->
	<xsd:element name="Extension" type="ExtensionType">
		<xsd:annotation>
			<xsd:documentation>Reference to Extension to amend Technique.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ExtensionType">
		<xsd:annotation>
			<xsd:documentation>Reference to Extension to amend Technique.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="uri" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>URI where Extension file can be fetched.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>Name of Extension to be used. Must match Name given in Extension Definition file.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!--Page related information-->
	<xsd:element name="Page" type="PageType">
		<xsd:annotation>
			<xsd:documentation>Container for Data derived from Experiment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PageType">
		<xsd:sequence>
			<xsd:element ref="SiblingDataPointReference" minOccurs="0"/>
			<xsd:element ref="VectorSet" minOccurs="0"/>
			<xsd:element ref="ParameterCategorySet" minOccurs="0"/>
			<xsd:element ref="PageSet" minOccurs="0"/>
			<xsd:element ref="ExperimentStepSet" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
	</xsd:complexType>
	<xsd:element name="SiblingDataPointReference" type="SiblingDataPointReferenceType"/>
	<xsd:complexType name="SiblingDataPointReferenceType">
		<xsd:complexContent>
			<xsd:extension base="DataPointReferenceType">
				<xsd:attribute name="pageID" type="xsd:token" use="required">
					<xsd:annotation>
						<xsd:documentation>ID of the page refered to wihtin the same page set .</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VectorSet" type="VectorSetType">
		<xsd:annotation>
			<xsd:documentation>Container for n-dimensional Data.</xsd:documentation>
		</xsd:annotation>
		<xsd:key name="vectorID">
			<xsd:annotation>
				<xsd:documentation>Every Vector ID must be unique within a Page. Duplicates in sub-Pages are permitted.</xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="Vector"/>
			<xsd:field xpath="@vectorID"/>
		</xsd:key>
	</xsd:element>
	<xsd:complexType name="VectorSetType">
		<xsd:sequence>
			<xsd:element ref="Vector" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
		<xsd:attribute name="length" type="xsd:nonNegativeInteger" use="required">
			<xsd:annotation>
				<xsd:documentation>Number of data points each vector contains.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="Vector" type="VectorType">
		<xsd:annotation>
			<xsd:documentation>Container for multiple Values.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VectorType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="IndividualValueSet" maxOccurs="unbounded"/>
				<xsd:element ref="EncodedValueSet" maxOccurs="unbounded"/>
				<xsd:element ref="AutoIncrementedValueSet" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:element ref="Unit" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
		<xsd:attribute name="dependency" type="Dependency" use="required">
			<xsd:annotation>
				<xsd:documentation>Specified whether the Vector is independent or dependent.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="vectorID" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>Identifies the Vector. Used in References from sub-Pages and sub-PageSets. Unique per Page.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="plotUse" type="PlotUse" use="required">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a new dimension should be created for this vector.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="visible" type="Visibility" use="optional" default="true">
			<xsd:annotation>
				<xsd:documentation>Specifies whether data in this Vector is to be displayed to the user by default.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="scale" type="Scale" use="optional" default="linear">
			<xsd:annotation>
				<xsd:documentation>Specifies whether the data in this Vector is typically plotted on a linear or logarithmic scale.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="VectorTypeList" use="required"/>
	</xsd:complexType>
	<xsd:element name="IndividualValueSet" type="IndividualValueSetType">
		<xsd:annotation>
			<xsd:documentation>Multiple Values explicitly specified.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IndividualValueSetType">
		<xsd:complexContent>
			<xsd:extension base="UnboundedValueType">
				<xsd:attributeGroup ref="ValueSet"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EncodedValueSet" type="EncodedValueSetType">
		<xsd:annotation>
			<xsd:documentation>Multiple Values encoded as a base64 binary string.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EncodedValueSetType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attributeGroup ref="ValueSet"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="StartValue" type="StartValueType"/>
	<xsd:complexType name="StartValueType">
		<xsd:annotation>
			<xsd:documentation>First value of the incremented set</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NumericValueType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Increment" type="IncrementType"/>
	<xsd:complexType name="IncrementType">
		<xsd:annotation>
			<xsd:documentation>Increment value</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NumericValueType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AutoIncrementedValueSet" type="AutoIncrementedValueSetType">
		<xsd:annotation>
			<xsd:documentation>Multiple Values given in form of a start value and an increment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AutoIncrementedValueSetType">
		<xsd:sequence>
			<xsd:element ref="StartValue"/>
			<xsd:element ref="Increment"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ValueSet"/>
	</xsd:complexType>
	<xsd:element name="Unit" type="UnitType">
		<xsd:annotation>
			<xsd:documentation>Definition of Measurement Unit</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UnitType">
		<xsd:sequence>
			<xsd:element ref="SIUnit" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="label" type="LabelType" use="required"/>
	</xsd:complexType>
	<!--AuditTrail and LogEntry related information-->
	<xsd:element name="LogEntry" type="LogEntryType">
		<xsd:annotation>
			<xsd:documentation>Describes a set of changes made to the particular AnIML document by one user at a given time.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LogEntryType">
		<xsd:annotation>
			<xsd:documentation>Describes a set of changes made to the particular AnIML document by one user at a given time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Timestamp"/>
			<xsd:element ref="UserInformation">
				<xsd:annotation>
					<xsd:documentation>User or device responsible for the changes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Action"/>
			<xsd:element ref="Reason" minOccurs="0"/>
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="UserInformation" type="UserInformationType">
		<xsd:annotation>
			<xsd:documentation>User or device responsible for the changes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UserInformationType">
		<xsd:annotation>
			<xsd:documentation>Information about a person, a device or a piece of software authoring AnIML files.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Name">
				<xsd:annotation>
					<xsd:documentation>Name of person or device.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="EMail" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact email address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Phone" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact phone number.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Location" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Location or physical address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type" type="UserTypeList" use="required">
			<xsd:annotation>
				<xsd:documentation>Type of user (human, device, software)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="Name" type="NameType">
		<xsd:annotation>
			<xsd:documentation>Name of person or device.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NameType">
		<xsd:annotation>
			<xsd:documentation>Name of person or device.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="EMail" type="EMailType">
		<xsd:annotation>
			<xsd:documentation>Element for the storage of eMail RFC822-compliant EMail address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="EMailType">
		<xsd:annotation>
			<xsd:documentation>Element for the storage of eMail RFC822-compliant EMail address.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*@.*\..*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Phone" type="PhoneType">
		<xsd:annotation>
			<xsd:documentation>Element for the storage of phone numbers.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PhoneType">
		<xsd:annotation>
			<xsd:documentation>Element for the storage of phone numbers.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Location" type="LocationType">
		<xsd:annotation>
			<xsd:documentation>Location or physical address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LocationType">
		<xsd:annotation>
			<xsd:documentation>Location or physical address.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Action" type="ActionType">
		<xsd:annotation>
			<xsd:documentation>Type of change made (created, modified, ...)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ActionType">
		<xsd:annotation>
			<xsd:documentation>Type of action described by an audit trail entry</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="created">
				<xsd:annotation>
					<xsd:documentation>The given user has created the references item(s).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="modifed">
				<xsd:annotation>
					<xsd:documentation>Item already existed and has been modified. Modifications are explained in the Description element.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="read">
				<xsd:annotation>
					<xsd:documentation>The given user has exercised read access on the referenced item(s).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="signed">
				<xsd:annotation>
					<xsd:documentation>The given user has attached a digital signature.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="deleted">
				<xsd:annotation>
					<xsd:documentation>The referenced items were deleted. No reference is specified. Description explains what was deleted.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Reason" type="ReasonType">
		<xsd:annotation>
			<xsd:documentation>Explaination why changes were made.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ReasonType">
		<xsd:annotation>
			<xsd:documentation>Explaination why changes were made.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Description" type="DescriptionType">
		<xsd:annotation>
			<xsd:documentation>Detailed description of changes were made.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DescriptionType">
		<xsd:annotation>
			<xsd:documentation>Detailed description of changes were made.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Reference" type="ReferenceType">
		<xsd:annotation>
			<xsd:documentation>ID of the SignableItem that was affected. If none is specified, entire document is covered.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ReferenceType">
		<xsd:annotation>
			<xsd:documentation>Detailed description of changes were made.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:IDREF"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Signature" type="ds:SignatureType">
		<xsd:annotation>
			<xsd:documentation>Digital Signature that has been applied to a part of this AnIML document. Uses the W3C XML-DSIG specification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--
THE ELEMENT AND DATA TYPE HAS BEEN REPLACED BY SiblingDataPointReferenceType and ParentDataPointReferenceType
	<xsd:element name="ReferencesOLD">
		<xsd:annotation>
			<xsd:documentation>Establishes a reference to a data point or value range in the superordinate page.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IndexRef" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Vector and Value in Super-Page being referenced.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attributeGroup ref="SignableItemWithName"/>
						<xsd:attribute name="vectorID" type="xsd:string" use="required"/>
						<xsd:attribute name="index" type="xsd:nonNegativeInteger" use="required"/>
						<xsd:attribute name="refWidth" type="xsd:positiveInteger" use="optional" default="1">
							<xsd:annotation>
								<xsd:documentation>Specifies how many values, starting from the index, should be referenced. Used to refer to an area, rather than an individual value.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attributeGroup ref="SignableItem"/>
		</xsd:complexType>
	</xsd:element>
-->
	<!--Parameter related information-->
	<xsd:element name="ParameterCategorySet" type="ParameterCategorySetType">
		<xsd:annotation>
			<xsd:documentation>Container for categorized and nested Name/Value Pairs.</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="parameterCategoryName">
			<xsd:selector xpath="ParameterCategory"/>
			<xsd:field xpath="@name"/>
		</xsd:unique>
	</xsd:element>
	<xsd:complexType name="ParameterCategorySetType">
		<xsd:sequence>
			<xsd:element ref="ParameterCategory" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="ParameterCategory" type="ParameterCategoryType">
		<xsd:annotation>
			<xsd:documentation>Defines a category of Parameters. Used to model hierarchies among Parameters.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParameterCategoryType">
		<xsd:sequence>
			<xsd:element ref="ParameterSet" minOccurs="0"/>
			<xsd:element ref="ParameterCategorySet" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contains multiple subcategories of ParameterCategory.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
	</xsd:complexType>
	<xsd:element name="ParameterSet" type="ParameterSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Name/Value Pairs</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="parameterName">
			<xsd:selector xpath="Parameter"/>
			<xsd:field xpath="@name"/>
		</xsd:unique>
	</xsd:element>
	<xsd:complexType name="ParameterSetType">
		<xsd:sequence>
			<xsd:element ref="Parameter" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="Parameter" type="ParameterType">
		<xsd:annotation>
			<xsd:documentation>Name/Value Pair</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParameterType">
		<xsd:complexContent>
			<xsd:extension base="SingleValueType">
				<xsd:sequence>
					<xsd:element ref="Unit" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="SignableItemWithName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- -->
	<!--SimpleTypes for Vector definitions-->
	<xsd:simpleType name="Continuity">
		<xsd:annotation>
			<xsd:documentation>Specifies whether the data points should be connected or not.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="discrete"/>
			<xsd:enumeration value="continuous"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Dependency">
		<xsd:annotation>
			<xsd:documentation>Specified whether the Vector is independent or dependent.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="independent"/>
			<xsd:enumeration value="dependent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Scale">
		<xsd:annotation>
			<xsd:documentation>Specifies whether the data in this Vector is typically plotted on a linear or logarithmic scale.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="linear"/>
			<xsd:enumeration value="logarithmic"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PlotUse">
		<xsd:annotation>
			<xsd:documentation>Specifies whether a Vector should be used for plotting or not. If set so "dimension", a new dimension will be created in the plot. If set to "attribute", no extra dimension is created.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="dimension"/>
			<xsd:enumeration value="attribute"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Visibility">
		<xsd:annotation>
			<xsd:documentation>Specifes whether a Vector should be displayed by default.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<!-- -->
	<!--Complex Types for Parameter and Vector values, Simple Types for Data Type names-->
	<xsd:complexType name="UnboundedValueType">
		<xsd:annotation>
			<xsd:documentation>Base type for all value elements for use in vectors and parameters. To be restricted.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="INT"/>
			<xsd:element ref="float32"/>
			<xsd:element ref="float64"/>
			<xsd:element ref="string"/>
			<xsd:element ref="boolean"/>
			<xsd:element ref="dateTime"/>
			<xsd:element ref="png"/>
			<xsd:element ref="xml"/>
			<xsd:element ref="svg"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="INT" type="INTType">
		<xsd:annotation>
			<xsd:documentation>Individual Integer Value (32 bits, signed).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="INTType">
		<xsd:annotation>
			<xsd:documentation>Individual Integer Value (32 bits, signed).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:int"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="float32" type="xsd:float">
		<xsd:annotation>
			<xsd:documentation>Individual 32-bit Floating Point Value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="float64" type="xsd:double">
		<xsd:annotation>
			<xsd:documentation>Individual 64-bit Floating Point Value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="string" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Individual String Value</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="boolean" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Individual Boolean Value</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="dateTime" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Individual ISO Date/Time Value</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="png" type="xsd:base64Binary">
		<xsd:annotation>
			<xsd:documentation>Base 64 encoded PNG  image</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="xml" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Value governed by a different XML Schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="svg" type="xsd:anyType">
		<xsd:annotation>
			<xsd:documentation>Value governed by the SVG  DTD. It is for representing images.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SingleValueType">
		<xsd:annotation>
			<xsd:documentation>Elements for IndividualValueSets in Vectors.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="UnboundedValueType">
				<xsd:choice>
					<xsd:element ref="INT"/>
					<xsd:element ref="float32"/>
					<xsd:element ref="float64"/>
					<xsd:element ref="string"/>
					<xsd:element ref="boolean"/>
					<xsd:element ref="dateTime"/>
					<xsd:element ref="png"/>
					<xsd:element ref="xml"/>
					<xsd:element ref="svg"/>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NumericValueType">
		<xsd:annotation>
			<xsd:documentation>Elements for numeric vector values.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="UnboundedValueType">
				<xsd:choice>
					<xsd:element ref="INT"/>
					<xsd:element ref="float32"/>
					<xsd:element ref="float64"/>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ParameterTypeList">
		<xsd:annotation>
			<xsd:documentation>Names of Data Types for Parameters</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="int"/>
			<xsd:enumeration value="long"/>
			<xsd:enumeration value="float32"/>
			<xsd:enumeration value="float64"/>
			<xsd:enumeration value="string"/>
			<xsd:enumeration value="boolean"/>
			<xsd:enumeration value="dateTime"/>
			<xsd:enumeration value="xml"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VectorTypeList">
		<xsd:annotation>
			<xsd:documentation>Names of Data Types for Vectors</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParameterTypeList"/>
	</xsd:simpleType>
	<xsd:simpleType name="SIUnitList">
		<xsd:annotation>
			<xsd:documentation>Names of all SI Units</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="m"/>
			<xsd:enumeration value="kg"/>
			<xsd:enumeration value="s"/>
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="K"/>
			<xsd:enumeration value="mol"/>
			<xsd:enumeration value="cd"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!--AttributeGroup for sparse data-->
	<xsd:attributeGroup name="ValueSet">
		<xsd:annotation>
			<xsd:documentation>Start and End Offsets for this Set of Values.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="startOffset" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation>
				<xsd:documentation>Zero-based index where this Value Set starts. The specification is inclusive.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="endOffset" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation>
				<xsd:documentation>Zero-based Index of the last Entry in this Value Set.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<!---->
	<!--Stuff for digital signatures and audit trail-->
	<xsd:attributeGroup name="SignableItem">
		<xsd:annotation>
			<xsd:documentation>ID for Signable Items.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:ID" use="optional">
			<xsd:annotation>
				<xsd:documentation>Anchor point for digital signature. This identifier is referred to from the "Reference" element in a Signature. Unique per document.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="SignableItemWithName">
		<xsd:annotation>
			<xsd:documentation>ID and Name attribute for Signable Items.</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref="SignableItem"/>
		<xsd:attribute name="name" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>Plain-text name of this item.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<!---->
	<!--Things used for multiple purposes-->
	<xsd:simpleType name="UserTypeList">
		<xsd:annotation>
			<xsd:documentation>Specifies whether a user is a real person, a device, or a software program.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="human"/>
			<xsd:enumeration value="device"/>
			<xsd:enumeration value="software"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
THE ELEMENT IS NOT USED. 
	<xsd:element name="DataPointReference" type="DataPointReferenceType">
		<xsd:annotation>
			<xsd:documentation>Vector and Value in Super-Page being referenced.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
-->
	<xsd:complexType name="DataPointReferenceType">
		<xsd:attributeGroup ref="SignableItemWithName"/>
		<xsd:attribute name="vectorID" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Contains the ID of the vector referenced.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="startIndex" type="xsd:nonNegativeInteger" use="required">
			<xsd:annotation>
				<xsd:documentation>Specifies the start value of the vector referenced. It can be either a vector index or a value within the value range of the vector specified.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="endIndex" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation>
				<xsd:documentation>Specifies how many values, starting from the startValue, should be referenced. Used to refer to an area, rather than an individual value.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="SIUnit" type="SIUnitType">
		<xsd:annotation>
			<xsd:documentation>Combination of SI units used to represent measurement unit</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SIUnitType">
		<xsd:simpleContent>
			<xsd:extension base="SIUnitList">
				<xsd:attribute name="factor" type="xsd:float" use="optional" default="1"/>
				<xsd:attribute name="exponent" type="xsd:float" use="optional" default="1"/>
				<xsd:attribute name="offset" type="xsd:float" use="optional" default="0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LabelType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
