animl-core 1.09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Gary Kramer (NIST) -->
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Maren Fiege (Waters GmbH) -->
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	<!--Root-Node of every AnIML document-->
	<xs:element name="AnIML">
		<xs:annotation>
			<xs:documentation>Root Element for AnIML documents.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SampleSet" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Analysis" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AuditTrail" minOccurs="0"/>
				<xs:element ref="Signatures" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" fixed="1.0">
				<xs:annotation>
					<xs:documentation>Version number of this AnIML document. Must be "1.0".</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="sampleID">
			<xs:selector xpath=".//Sample"/>
			<xs:field xpath="@sampleID"/>
		</xs:key>
		<xs:keyref name="sampleIDUsage" refer="sampleID">
			<xs:selector xpath=".//SampleRef"/>
			<xs:field xpath="@sampleID"/>
		</xs:keyref>
		<!-- annotation -->
	</xs:element>
	<!-- -->
	<!--Top-Level document elements-->
	<xs:element name="SampleSet">
		<xs:annotation>
			<xs:documentation>Container for Samples used in this AnIML document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Sample" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Individual Sample, referenced from other parts of this AnIML document.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ParameterCategory" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attributeGroup ref="SignableItem"/>
						<xs:attribute name="sampleID" type="xs:token" use="required"/>
						<xs:attribute name="barcode" type="xs:token" use="optional">
							<xs:annotation>
								<xs:documentation>Value of barcode label that is attached to sample container.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="derived" type="xs:boolean" use="optional" default="false">
							<xs:annotation>
								<xs:documentation>Indicates whether this is a derived Sample. A derived Sample is a Sample that has been created by applying a Technique. (Sub-Sampling, Processing, ...)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="SignableItemWithName"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Analysis">
		<xs:annotation>
			<xs:documentation>Container for multiple ExperimentSteps that describe the process and results.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="StepsAndTemplates">
					<xs:attributeGroup ref="SignableItem"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:unique name="templateIdKey">
			<xs:selector xpath="Template"/>
			<xs:field xpath="@templateId"/>
		</xs:unique>
	</xs:element>
	<xs:element name="AuditTrail">
		<xs:annotation>
			<xs:documentation>Container for log entries describing changes to this document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LogEntry" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Describes a set of changes made to this AnIML document by one user at a given time.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Timestamp"/>
							<xs:element name="User" type="UserInformationType">
								<xs:annotation>
									<xs:documentation>User or device responsible for the changes.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Action" type="ChangeType">
								<xs:annotation>
									<xs:documentation>Type of change made (created, modified, ...)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Reason" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Explaination why changes were made.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Description" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Plain-text explaination of changes.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Reference" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>ID of the SignableItem that was affected. If none is specified, entire document is covered.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attributeGroup ref="SignableItem"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="SignableItem"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Signatures">
		<xs:annotation>
			<xs:documentation>Container for Digital Signatures to validate parts of this AnIML document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Signature" type="ds:SignatureType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Digital Signature that has been applied to a part of this AnIML document. Uses the W3C XML-DSIG specification.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<!--Elements representing process information and data-->
	<xs:element name="ExperimentStep">
		<xs:annotation>
			<xs:documentation>Container that documents a step in an experiment. Use one ExperimentStep per application of a Technique.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ExperimentStepType">
					<xs:attributeGroup ref="SignableItemWithName"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="pageID">
			<xs:selector xpath="Page"/>
			<xs:field xpath="@name"/>
		</xs:key>
		<xs:key name="vectorID">
			<xs:selector xpath="PageSet/Page/VectorSet/Vector"/>
			<xs:field xpath="@vectorID"/>
		</xs:key>
		<xs:keyref name="vectorIDUsage" refer="vectorID">
			<xs:selector xpath=".//IndexRef"/>
			<xs:field xpath="@vectorID"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="Template">
		<xs:annotation>
			<xs:documentation>ExperimentStep templates</xs:documentation>
			<xs:documentation>Represents a container for ExperementStep templates</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="TemplateType">
					<xs:attribute name="templateId" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="vectorIDTemp">
			<xs:selector xpath="PageSet/Page/VectorSet/Vector"/>
			<xs:field xpath="@vectorID"/>
		</xs:key>
		<xs:keyref name="vectorIDTempUsage" refer="vectorIDTemp">
			<xs:selector xpath="PageSet/Page/References/IndexRef"/>
			<xs:field xpath="@vectorID"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="References">
		<xs:annotation>
			<xs:documentation>Establishes a reference to a data point in the superordinate page.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IndexRef" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Vector and Value in Super-Page being referenced.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:token" use="required">
							<xs:annotation>
								<xs:documentation>Plain-text name of this item.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="vectorID" type="xs:string" use="required"/>
						<xs:attribute name="index" type="xs:nonNegativeInteger" use="required"/>
						<xs:attribute name="refWidth" type="xs:positiveInteger" use="optional" default="1">
							<xs:annotation>
								<xs:documentation>Specifies how many values, starting from the index, should be referenced. Used to refer to an area, rather than an individual value.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParameterCategory">
		<xs:annotation>
			<xs:documentation>Defines a category of Parameters. Used to model hierarchies among Parameters.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Parameter" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Name/Value Pair</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="ParameterValueType">
								<xs:sequence>
									<xs:element ref="Unit" minOccurs="0"/>
								</xs:sequence>
								<xs:attribute name="name" type="xs:token" use="required">
									<xs:annotation>
										<xs:documentation>Plain-text name of this item.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ParameterCategory" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Contains multiple subcategories of ParameterCategory.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:token" use="required">
				<xs:annotation>
					<xs:documentation>Plain-text name of this item.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
		<xs:unique name="parameterName">
			<xs:selector xpath="Parameter"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<xs:unique name="parameterCategoryName">
			<xs:selector xpath="."/>
			<xs:field xpath="@name"/>
		</xs:unique>
	</xs:element>
	<xs:element name="Unit">
		<xs:annotation>
			<xs:documentation>Definition of Measurement Unit</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SIUnit" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Combination of SI units used to represent measurement unit</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="SIUnitNames">
								<xs:attribute name="factor" type="xs:float" use="optional" default="1"/>
								<xs:attribute name="exponent" type="xs:float" use="optional" default="1"/>
								<xs:attribute name="offset" type="xs:float" use="optional" default="0"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="StepsAndTemplates">
		<xs:annotation>
			<xs:documentation>ComplexType for ExperimentSteps and Templates</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Template" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ExperimentStep" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExperimentStepType">
		<xs:annotation>
			<xs:documentation>Children of Experiment Step element</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Author" type="UserInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Person or device that created this ExperimentStep.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Timestamp" minOccurs="0"/>
			<xs:element ref="References" minOccurs="0"/>
			<xs:element name="SamplesUsed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Set of Samples used in this Experiment.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SampleRef" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Reference to a Sample used in this Experiment.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="SignableItem"/>
								<xs:attribute name="sampleID" type="xs:token" use="required"/>
								<xs:attribute name="role" type="xs:token" use="required"/>
								<xs:attribute name="purpose" type="SamplePurpose" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="SignableItem"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Technique" type="Technique" minOccurs="0"/>
			<xs:element ref="ParameterCategory" maxOccurs="unbounded"/>
			<xs:element ref="Page" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TemplateType">
		<xs:annotation>
			<xs:documentation>Children of Template element</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Author" type="UserInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Person or device that created this PageSet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Timestamp" minOccurs="0"/>
			<xs:element name="Technique" type="Technique" minOccurs="0"/>
			<xs:element ref="ParameterCategory" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Page" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SamplePurpose">
		<xs:annotation>
			<xs:documentation>Specifies whether a sample is consumed or produced in an experiment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="produced"/>
			<xs:enumeration value="consumed"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!--SimpleTypes for Vector definitions-->
	<xs:simpleType name="Continuity">
		<xs:annotation>
			<xs:documentation>Specifies whether the data points should be connected or not.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="discrete"/>
			<xs:enumeration value="continuous"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dependency">
		<xs:annotation>
			<xs:documentation>Specified whether the Vector is independent or dependent.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="independent"/>
			<xs:enumeration value="dependent"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Scale">
		<xs:annotation>
			<xs:documentation>Specifies whether the data in this Vector is typically plotted on a linear or logarithmic scale.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="linear"/>
			<xs:enumeration value="logarithmic"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlotUse">
		<xs:annotation>
			<xs:documentation>Specifies whether a Vector should be used for plotting or not. If set so "dimension", a new dimension will be created in the plot. If set to "attribute", no extra dimension is created.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="dimension"/>
			<xs:enumeration value="attribute"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Visibility">
		<xs:annotation>
			<xs:documentation>Specifes whether a Vector should be displayed by default.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!-- -->
	<!--Complex Types for Parameter and Vector values, Simple Types for Data Type names-->
	<xs:complexType name="ParameterValueType">
		<xs:annotation>
			<xs:documentation>Elements for basic type values in Parameters.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="int" type="xs:int">
				<xs:annotation>
					<xs:documentation>Individual Integer Value (32 bits, signed).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="decimal" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Individual Decimal Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="float32" type="xs:float">
				<xs:annotation>
					<xs:documentation>Individual 32-bit Floating Point Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="float64" type="xs:double">
				<xs:annotation>
					<xs:documentation>Individual 64-bit Floating Point Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="string" type="xs:string">
				<xs:annotation>
					<xs:documentation>Individual String Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="boolean" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Individual Boolean Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Individual ISO Date/Time Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="png" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>Base 64 encoded PNG  image</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xml" type="xs:anyType">
				<xs:annotation>
					<xs:documentation>Value governed by a different XML Schema.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="svg" type="xs:anyType">
				<xs:annotation>
					<xs:documentation>Value governed by the SVG  DTD. It is for representing images.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="VectorValueType">
		<xs:annotation>
			<xs:documentation>Elements for IndividualValueSets in Vectors.</xs:documentation>
			<xs:documentation>Elements for values in Vectors.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ParameterValueType">
				<xs:choice maxOccurs="unbounded">
					<xs:element name="int" type="xs:int">
						<xs:annotation>
							<xs:documentation>Individual Integer Value (32 bits, signed).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="float32" type="xs:float">
						<xs:annotation>
							<xs:documentation>Individual 32-bit Floating Point Value.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="float64" type="xs:double">
						<xs:annotation>
							<xs:documentation>Individual 64-bit Floating Point Value.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="string" type="xs:string">
						<xs:annotation>
							<xs:documentation>Individual String Value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="boolean" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Individual Boolean Value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateTime" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>Individual ISO Date/Time Value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="png" type="xs:base64Binary">
						<xs:annotation>
							<xs:documentation>Base 64 encoded PNG image</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xml" type="xs:anyType">
						<xs:annotation>
							<xs:documentation>Value governed by a different XML Schema.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="svg" type="xs:anyType">
						<xs:annotation>
							<xs:documentation>Value governed by the SVG DTD. It is for representing images.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NumericValueType">
		<xs:annotation>
			<xs:documentation>Elements for numeric vector values.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ParameterValueType">
				<xs:choice>
					<xs:element name="int" type="xs:int">
						<xs:annotation>
							<xs:documentation>Individual Integer Value (32 bits, signed).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="float32" type="xs:float">
						<xs:annotation>
							<xs:documentation>Individual 32-bit Floating Point Value.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="float64" type="xs:double">
						<xs:annotation>
							<xs:documentation>Individual 64-bit Floating Point Value.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ParameterTypeNames">
		<xs:annotation>
			<xs:documentation>Names of Data Types for Parameters</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="int"/>
			<xs:enumeration value="long"/>
			<xs:enumeration value="float32"/>
			<xs:enumeration value="float64"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="boolean"/>
			<xs:enumeration value="dateTime"/>
			<xs:enumeration value="xml"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VectorTypeNames">
		<xs:annotation>
			<xs:documentation>Names of Data Types for Vectors</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ParameterTypeNames"/>
	</xs:simpleType>
	<xs:simpleType name="SIUnitNames">
		<xs:annotation>
			<xs:documentation>Names of all SI Units</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="m"/>
			<xs:enumeration value="kg"/>
			<xs:enumeration value="s"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="mol"/>
			<xs:enumeration value="cd"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!--AttributeGroup for sparse data-->
	<xs:attributeGroup name="ValueSet">
		<xs:annotation>
			<xs:documentation>Start and End Offsets for this Set of Values.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="startOffset" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation>Zero-based index where this Value Set starts. The specification is inclusive.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endOffset" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation>Zero-based Index of the last Entry in this Value Set.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<!---->
	<!--Stuff for digital signatures and audit trail-->
	<xs:attributeGroup name="SignableItem">
		<xs:annotation>
			<xs:documentation>ID for Signable Items.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:ID" use="optional">
			<xs:annotation>
				<xs:documentation>Anchor point for digital signature. This identifier is referred to from the "Reference" element in a Signature. Unique per document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="SignableItemWithName">
		<xs:annotation>
			<xs:documentation>ID and Name attribute for Signable Items.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="SignableItem"/>
		<xs:attribute name="name" type="xs:token" use="required">
			<xs:annotation>
				<xs:documentation>Plain-text name of this item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:simpleType name="ChangeType">
		<xs:annotation>
			<xs:documentation>Type of change described by an audit trail entry</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="created">
				<xs:annotation>
					<xs:documentation>The given user has created the references item(s).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="modifed">
				<xs:annotation>
					<xs:documentation>Item already existed and has been modified. Modifications are explained in the Description element.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="read">
				<xs:annotation>
					<xs:documentation>The given user has exercised read access on the referenced item(s).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="signed">
				<xs:annotation>
					<xs:documentation>The given user has attached a digital signature.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="deleted">
				<xs:annotation>
					<xs:documentation>The referenced items were deleted. No reference is specified. Description explains what was deleted.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!---->
	<!--Things used for multiple purposes-->
	<xs:element name="Timestamp" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date and time of modification.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="UserInformationType">
		<xs:annotation>
			<xs:documentation>Information about a person, a device or a piece of software authoring AnIML files.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of person or device.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>RFC822-compliant EMail address.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value=".*@.*\..*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Phone" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location or physical address.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="UserTypes" use="required">
			<xs:annotation>
				<xs:documentation>Type of user (human, device, software)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Technique">
		<xs:annotation>
			<xs:documentation>Reference to Technique used in this Experiment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Extension" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to Extension to amend Technique.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="uri" type="xs:anyURI" use="required">
						<xs:annotation>
							<xs:documentation>URI where Extension file can be fetched.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="name" type="xs:token" use="required">
						<xs:annotation>
							<xs:documentation>Name of Extension to be used. Must match Name given in Extension Definition file.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:token" use="required"/>
		<xs:attribute name="uri" type="xs:anyURI" use="required">
			<xs:annotation>
				<xs:documentation>URI where Technique Definition file can be fetched.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="UserTypes">
		<xs:annotation>
			<xs:documentation>Specifies whether a user is a real person, a device, or a software program.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="human"/>
			<xs:enumeration value="device"/>
			<xs:enumeration value="software"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Page">
		<xs:annotation>
			<xs:documentation>Container for Data derived from Experiment.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="References" minOccurs="0"/>
				<xs:element name="Vector" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Container for multiple Values.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element name="IndividualValueSet" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Multiple Values explicitly specified.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="VectorValueType">
												<xs:attributeGroup ref="ValueSet"/>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="EncodedValueSet" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Multiple Values encoded as a base64 binary string.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:base64Binary">
												<xs:attributeGroup ref="ValueSet"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="AutoIncrementedValueSet" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Multiple Values given in form of a start value and an increment.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="StartValue" type="NumericValueType">
												<xs:annotation>
													<xs:documentation>First value of the incremented set</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Increment" type="NumericValueType">
												<xs:annotation>
													<xs:documentation>Increment value</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
										<xs:attributeGroup ref="ValueSet"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element ref="Unit" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="name" type="xs:token" use="required">
							<xs:annotation>
								<xs:documentation>Plain-text name of this item.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="dependency" type="Dependency" use="required">
							<xs:annotation>
								<xs:documentation>Specified whether the Vector is independent or dependent.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="vectorID" type="xs:token" use="required">
							<xs:annotation>
								<xs:documentation>Identifies the Vector. Used in References from sub-Pages and sub-PageSets. Unique per Page.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="plotUse" type="PlotUse" use="required">
							<xs:annotation>
								<xs:documentation>Specifies whether a new dimension should be created for this vector.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="visible" type="Visibility" use="optional" default="true">
							<xs:annotation>
								<xs:documentation>Specifies whether data in this Vector is to be displayed to the user by default.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="scale" type="Scale" use="optional" default="linear">
							<xs:annotation>
								<xs:documentation>Specifies whether the data in this Vector is typically plotted on a linear or logarithmic scale.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="type" type="VectorTypeNames" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ParameterCategory" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Page" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ExperimentStep" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:token">
				<xs:annotation>
					<xs:documentation>Plain-text name of this item.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
