animl-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Burkhard Schaefer (Burkhard Schaefer Software & Networks) -->
<xsd:schema targetNamespace="urn:org:astm:animl:schema:core:draft:0.3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns="urn:org:astm:animl:schema:core:draft:0.3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	<!--Root-Node of every AnIML document-->
	<xsd:element name="AnIML" type="AnIMLType">
		<xsd:annotation>
			<xsd:documentation>Root Element for AnIML documents.</xsd:documentation>
		</xsd:annotation>
		<xsd:key name="sampleID">
			<xsd:selector xpath="SampleSet/Sample"/>
			<xsd:field xpath="@sampleID"/>
		</xsd:key>
		<xsd:keyref name="sampleIDUsage" refer="sampleID">
			<xsd:selector xpath=".//ExperimentStep/SampleReferenceSet/SampleReference"/>
			<xsd:field xpath="@sampleID"/>
		</xsd:keyref>
		<!-- annotation -->
	</xsd:element>
	<xsd:complexType name="AnIMLType">
		<xsd:annotation>
			<xsd:documentation>ComplexType for the root element of an AnIML document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SampleSet" minOccurs="0"/>
			<xsd:element ref="ExperimentStepSet" minOccurs="0"/>
			<xsd:element ref="AuditTrail" minOccurs="0"/>
			<xsd:element ref="SignatureSet" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" use="required" fixed="0.3">
			<xsd:annotation>
				<xsd:documentation>Version number of this AnIML document. Must be "0.3".</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!-- -->
	<!--Top-Level document elements-->
	<xsd:element name="SampleSet" type="SampleSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Samples used in this AnIML document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Samples used in this AnIML document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Sample" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="ExperimentStepSet" type="ExperimentStepSetType">
		<xsd:annotation>
			<xsd:documentation>Container for multiple ExperimentSteps that describe the process and results.</xsd:documentation>
		</xsd:annotation>
		<xsd:key name="seriesID">
			<xsd:annotation>
				<xsd:documentation>Every Series ID must be unique within a Page. Duplicates in sub-Pages are permitted.</xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath=".//Series"/>
			<xsd:field xpath="@seriesID"/>
		</xsd:key>
		<xsd:keyref name="seriesIDRef" refer="seriesID">
			<xsd:selector xpath=".//ExperimentStep/ParentDataPointReference"/>
			<xsd:field xpath="@seriesID"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="ExperimentStepSetType">
		<xsd:annotation>
			<xsd:documentation>Container for multiple ExperimentSteps that describe the process and results.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Template" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ExperimentStep" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="AuditTrail" type="AuditTrailType">
		<xsd:annotation>
			<xsd:documentation>Container for log entries describing changes to this document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AuditTrailType">
		<xsd:annotation>
			<xsd:documentation>Container for log entries describing changes to this document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LogEntry" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="SignatureSet" type="SignatureSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Digital Signatures to validate parts of this AnIML document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SignatureSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Digital Signatures to validate parts of this AnIML document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Signature" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- SampleSet information-->
	<xsd:element name="Sample" type="SampleType">
		<xsd:annotation>
			<xsd:documentation>Individual Sample, referenced from other parts of this AnIML document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleType">
		<xsd:annotation>
			<xsd:documentation>Individual Sample, referenced from other parts of this AnIML document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TrackingTagSet" minOccurs="0"/>
			<xsd:element ref="CategorySet" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
		<xsd:attribute name="sampleID" type="xsd:token" use="required"/>
		<xsd:attribute name="barcode" type="xsd:token" use="optional">
			<xsd:annotation>
				<xsd:documentation>Value of barcode label that is attached to sample container.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="derived" type="xsd:boolean" use="optional" default="false">
			<xsd:annotation>
				<xsd:documentation>Indicates whether this is a derived Sample. A derived Sample is a Sample that has been created by applying a Technique. (Sub-Sampling, Processing, ...)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="containerType" type="ContainerTypeType" use="optional" default="simple">
			<xsd:annotation>
				<xsd:documentation>Whether this sample is also a container for other samples. Set to "simple" if not.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="containerID" type="xsd:token" use="optional">
			<xsd:annotation>
				<xsd:documentation>Sample ID of container in which this sample is located.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="comtainerCoordinate" type="xsd:token" use="optional">
			<xsd:annotation>
				<xsd:documentation>Coordinates of this sample within the parent container.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="ContainerTypeType">
		<xsd:annotation>
			<xsd:documentation>Describes what kind of container the current sample is.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="simple">
				<xsd:annotation>
					<xsd:documentation>This container holds exactly one sample (e.g. well, vial, tube).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="determinate">
				<xsd:annotation>
					<xsd:documentation>Positions within this container are precisely defined and known in advance (e.g. microtiter plates, racks, ...)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="indeterminate">
				<xsd:annotation>
					<xsd:documentation>Positions within this container are not precisely defined or known in advance (e.g. gels, surfaces)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Elements representing process information and data-->
	<xsd:element name="ExperimentStep" type="ExperimentStepType">
		<xsd:annotation>
			<xsd:documentation>Container that documents a step in an experiment. Use one ExperimentStep per application of a Technique.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ExperimentStepType">
		<xsd:annotation>
			<xsd:documentation>Container that documents a step in an experiment. Use one ExperimentStep per application of a Technique.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Author" minOccurs="0"/>
			<xsd:element ref="Software" minOccurs="0"/>
			<xsd:element ref="Device" minOccurs="0"/>
			<xsd:element ref="Timestamp" minOccurs="0"/>
			<xsd:element ref="ParentDataPointReference" minOccurs="0"/>
			<xsd:element ref="SampleReferenceSet" minOccurs="0"/>
			<xsd:element ref="Technique" minOccurs="0"/>
			<xsd:element ref="CategorySet" minOccurs="0"/>
			<xsd:element ref="PageSet" minOccurs="0"/>
			<xsd:element ref="TrackingTagSet" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
		<xsd:attribute name="templateUsed" type="xsd:token" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Template" type="TemplateType">
		<xsd:annotation>
			<xsd:documentation>Represents an ExperimentStep template</xsd:documentation>
			<xsd:documentation>Represents a container for ExperementStep templates</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TemplateType">
		<xsd:annotation>
			<xsd:documentation>Represents an ExperimentStep template</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Author" minOccurs="0"/>
			<xsd:element ref="Software" minOccurs="0"/>
			<xsd:element ref="Device" minOccurs="0"/>
			<xsd:element ref="Timestamp" minOccurs="0"/>
			<xsd:element ref="Technique" minOccurs="0"/>
			<xsd:element ref="CategorySet" minOccurs="0"/>
			<xsd:element ref="PageSet" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
		<xsd:attribute name="templateID" type="xsd:token" use="required"/>
	</xsd:complexType>
	<xsd:element name="Author" type="AuthorType">
		<xsd:annotation>
			<xsd:documentation>User responsible.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AuthorType">
		<xsd:annotation>
			<xsd:documentation>Information about a person, a device or a piece of software authoring AnIML files.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Name">
				<xsd:annotation>
					<xsd:documentation>Name of person or device.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Email" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact email address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Phone" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact phone number.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Location" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Location or physical address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="userType" type="UserTypeType" use="required">
			<xsd:annotation>
				<xsd:documentation>Type of user (human, device, software)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="Timestamp" type="TimestampType">
		<xsd:annotation>
			<xsd:documentation>Date and time of modification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="TimestampType">
		<xsd:annotation>
			<xsd:documentation>Date and time of modification.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:element name="SampleReferenceSet" type="SampleReferenceSetType">
		<xsd:annotation>
			<xsd:documentation>Set of Samples used in this Experiment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleReferenceSetType">
		<xsd:annotation>
			<xsd:documentation>Set of Samples used in this Experiment.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SampleReference" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="Technique" type="TechniqueType">
		<xsd:annotation>
			<xsd:documentation>Reference to Technique used in this Experiment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TechniqueType">
		<xsd:annotation>
			<xsd:documentation>Reference to Technique used in this Experiment.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Extension" minOccurs="0" maxOccurs="unbounded"/>
			<!--			<xsd:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/> -->
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
		<xsd:attribute name="uri" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>URI where Technique Definition file can be fetched.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="PageSet" type="PageSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Pages that contain the results gleaned from the Technique.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PageSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Pages that contain the results gleaned from the Technique.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Page" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<!-- ParentDataPointReferenceSet related information-->
	<xsd:element name="ParentDataPointReference" type="ParentDataPointReferenceType">
		<xsd:annotation>
			<xsd:documentation>Establishes a reference to a data point or value range in the page within the super-ordinate page set</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParentDataPointReferenceType">
		<xsd:annotation>
			<xsd:documentation>Datatype which defines a reference to a data point or value range in the page within the super-ordinate page set</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataPointReferenceType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--SampleReferenceSet related information-->
	<xsd:element name="SampleReference" type="SampleReferenceType">
		<xsd:annotation>
			<xsd:documentation>Reference to a Sample used in this Experiment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleReferenceType">
		<xsd:annotation>
			<xsd:documentation>Reference to a Sample used in this Experiment.</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref="SignableItem"/>
		<xsd:attribute name="sampleID" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>SampleID of the Sample used in the current ExperimentStep. Refers to the sampleID within the SampleSet section of the document.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="role" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>Role this sample plays within the current ExperimentStep.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="samplePurpose" type="SamplePurposeType" use="required">
			<xsd:annotation>
				<xsd:documentation>Specifies whether the referenced sample is produced or consumed by the current ExperimentStep.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="SamplePurposeType">
		<xsd:annotation>
			<xsd:documentation>Specifies whether a sample is consumed or produced in an experiment.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="produced">
				<xsd:annotation>
					<xsd:documentation>Specifies whether a sample is produced in an experiment.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="consumed">
				<xsd:annotation>
					<xsd:documentation>Specifies whether a sample is consumed in an experiment.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Technique related information-->
	<xsd:element name="Extension" type="ExtensionType">
		<xsd:annotation>
			<xsd:documentation>Reference to Extension to amend Technique.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ExtensionType">
		<xsd:annotation>
			<xsd:documentation>Reference to Extension to amend Technique.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="uri" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>URI where Extension file can be fetched.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>Name of Extension to be used. Must match Name given in Extension Definition file.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!--Page related information-->
	<xsd:element name="Page" type="PageType">
		<xsd:annotation>
			<xsd:documentation>Container for Data derived from Experiment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PageType">
		<xsd:annotation>
			<xsd:documentation>Container for Data derived from Experiment.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SiblingDataPointReference" minOccurs="0"/>
			<xsd:element ref="SeriesSet" minOccurs="0"/>
			<xsd:element ref="CategorySet" minOccurs="0"/>
			<xsd:element ref="ExperimentStepSet" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
	</xsd:complexType>
	<xsd:element name="SiblingDataPointReference" type="SiblingDataPointReferenceType">
		<xsd:annotation>
			<xsd:documentation>Establishes a reference to a data point or value range in the page within the same page set</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiblingDataPointReferenceType">
		<xsd:annotation>
			<xsd:documentation>Datatype which defines a reference to a data point or value range in the page within the same page set</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataPointReferenceType">
				<xsd:attribute name="pageID" type="xsd:token" use="required">
					<xsd:annotation>
						<xsd:documentation>ID of the page refered to wihtin the same page set .</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SeriesSet" type="SeriesSetType">
		<xsd:annotation>
			<xsd:documentation>Container for n-dimensional Data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SeriesSetType">
		<xsd:annotation>
			<xsd:documentation>Container for n-dimensional Data.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Series" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
		<xsd:attribute name="length" type="xsd:nonNegativeInteger" use="required">
			<xsd:annotation>
				<xsd:documentation>Number of data points each Series contains.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="Series" type="SeriesType">
		<xsd:annotation>
			<xsd:documentation>Container for multiple Values.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SeriesType">
		<xsd:annotation>
			<xsd:documentation>Container for multiple Values.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="IndividualValueSet" maxOccurs="unbounded"/>
				<xsd:element ref="EncodedValueSet" maxOccurs="unbounded"/>
				<xsd:element ref="AutoIncrementedValueSet" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:element ref="Unit" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
		<xsd:attribute name="dependency" type="DependencyType" use="required">
			<xsd:annotation>
				<xsd:documentation>Specified whether the Series is independent or dependent.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="seriesID" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>Identifies the Series. Used in References from sub-Pages and sub-PageSets. Unique per Page.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="plotUse" type="PlotUseType" use="required">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a new dimension should be created for this Series.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="visible" type="VisibleType" use="optional" default="true">
			<xsd:annotation>
				<xsd:documentation>Specifies whether data in this Series is to be displayed to the user by default.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="scale" type="ScaleType" use="optional" default="linear">
			<xsd:annotation>
				<xsd:documentation>Specifies whether the data in this Series is typically plotted on a linear or logarithmic scale.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="seriesType" type="SeriesTypeType" use="required">
			<xsd:annotation>
				<xsd:documentation>Data type used by all values in this Series.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="IndividualValueSet" type="IndividualValueSetType">
		<xsd:annotation>
			<xsd:documentation>Multiple Values explicitly specified.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IndividualValueSetType">
		<xsd:annotation>
			<xsd:documentation>Multiple Values explicitly specified.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UnboundedValueType">
				<xsd:attributeGroup ref="ValueSet"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EncodedValueSet" type="EncodedValueSetType">
		<xsd:annotation>
			<xsd:documentation>Multiple Values encoded as a base64 binary string.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EncodedValueSetType">
		<xsd:annotation>
			<xsd:documentation>Multiple Values encoded as a base64 binary string.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attributeGroup ref="ValueSet"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="StartValue" type="StartValueType">
		<xsd:annotation>
			<xsd:documentation>First value of the incremented set</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StartValueType">
		<xsd:annotation>
			<xsd:documentation>First value of the incremented set</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NumericValueType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Increment" type="IncrementType">
		<xsd:annotation>
			<xsd:documentation>Increment value</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IncrementType">
		<xsd:annotation>
			<xsd:documentation>Increment value</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NumericValueType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AutoIncrementedValueSet" type="AutoIncrementedValueSetType">
		<xsd:annotation>
			<xsd:documentation>Multiple Values given in form of a start value and an increment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AutoIncrementedValueSetType">
		<xsd:annotation>
			<xsd:documentation>Multiple Values given in form of a start value and an increment.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="StartValue"/>
			<xsd:element ref="Increment"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ValueSet"/>
	</xsd:complexType>
	<xsd:element name="Unit" type="UnitType">
		<xsd:annotation>
			<xsd:documentation>Definition of Measurement Unit</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UnitType">
		<xsd:annotation>
			<xsd:documentation>Definition of Measurement Unit</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SIUnit" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="label" type="LabelType" use="required"/>
	</xsd:complexType>
	<!--AuditTrail and LogEntry related information-->
	<xsd:element name="LogEntry" type="LogEntryType">
		<xsd:annotation>
			<xsd:documentation>Describes a set of changes made to the particular AnIML document by one user at a given time.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LogEntryType">
		<xsd:annotation>
			<xsd:documentation>Describes a set of changes made to the particular AnIML document by one user at a given time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Timestamp"/>
			<xsd:element ref="Author"/>
			<xsd:element ref="Software" minOccurs="0"/>
			<xsd:element ref="Action"/>
			<xsd:element ref="Reason" minOccurs="0"/>
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="Name" type="NameType">
		<xsd:annotation>
			<xsd:documentation>Common name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameType">
		<xsd:annotation>
			<xsd:documentation>Name of person or device.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="Email" type="EmailType">
		<xsd:annotation>
			<xsd:documentation>Element for the storage of eMail RFC822-compliant EMail address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="EmailType">
		<xsd:annotation>
			<xsd:documentation>Element for the storage of eMail RFC822-compliant EMail address.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*@.*\..*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Phone" type="PhoneType">
		<xsd:annotation>
			<xsd:documentation>Element for the storage of phone numbers.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="PhoneType">
		<xsd:annotation>
			<xsd:documentation>Element for the storage of phone numbers.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="Location" type="LocationType">
		<xsd:annotation>
			<xsd:documentation>Location or physical address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="LocationType">
		<xsd:annotation>
			<xsd:documentation>Location or physical address.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="Action" type="ActionType">
		<xsd:annotation>
			<xsd:documentation>Type of change made (created, modified, ...)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ActionType">
		<xsd:annotation>
			<xsd:documentation>Type of action described by an audit trail entry</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="created">
				<xsd:annotation>
					<xsd:documentation>The given user has created the references item(s).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="modifed">
				<xsd:annotation>
					<xsd:documentation>Item already existed and has been modified. Modifications are explained in the Description element.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="read">
				<xsd:annotation>
					<xsd:documentation>The given user has exercised read access on the referenced item(s).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="signed">
				<xsd:annotation>
					<xsd:documentation>The given user has attached a digital signature.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="deleted">
				<xsd:annotation>
					<xsd:documentation>The referenced items were deleted. No reference is specified. Description explains what was deleted.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Reason" type="ReasonType">
		<xsd:annotation>
			<xsd:documentation>Explaination why changes were made.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ReasonType">
		<xsd:annotation>
			<xsd:documentation>Explaination why changes were made.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="Description" type="DescriptionType">
		<xsd:annotation>
			<xsd:documentation>Detailed description of changes were made.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="DescriptionType">
		<xsd:annotation>
			<xsd:documentation>Detailed description of changes were made.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="Reference" type="ReferenceType">
		<xsd:annotation>
			<xsd:documentation>ID of the SignableItem that was affected. If none is specified, entire document is covered.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ReferenceType">
		<xsd:annotation>
			<xsd:documentation>Detailed description of changes were made.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:IDREF"/>
	</xsd:simpleType>
	<xsd:element name="Signature" type="ds:SignatureType">
		<xsd:annotation>
			<xsd:documentation>Digital Signature that has been applied to a part of this AnIML document. Uses the W3C XML-DSIG specification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--
THE ELEMENT AND DATA TYPE HAS BEEN REPLACED BY SiblingDataPointReferenceType and ParentDataPointReferenceType
	<xsd:element name="ReferencesOLD">
		<xsd:annotation>
			<xsd:documentation>Establishes a reference to a data point or value range in the superordinate page.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IndexRef" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Series and Value in Super-Page being referenced.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attributeGroup ref="SignableItemWithName"/>
						<xsd:attribute name="seriesID" type="xsd:string" use="required"/>
						<xsd:attribute name="index" type="xsd:nonNegativeInteger" use="required"/>
						<xsd:attribute name="refWidth" type="xsd:positiveInteger" use="optional" default="1">
							<xsd:annotation>
								<xsd:documentation>Specifies how many values, starting from the index, should be referenced. Used to refer to an area, rather than an individual value.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attributeGroup ref="SignableItem"/>
		</xsd:complexType>
	</xsd:element>
-->
	<!--Parameter related information-->
	<xsd:element name="CategorySet" type="CategorySetType">
		<xsd:annotation>
			<xsd:documentation>Container for categorized and nested Name/Value Pairs.</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="categoryName">
			<xsd:selector xpath="Category"/>
			<xsd:field xpath="@name"/>
		</xsd:unique>
	</xsd:element>
	<xsd:complexType name="CategorySetType">
		<xsd:sequence>
			<xsd:element ref="Category" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="Category" type="CategoryType">
		<xsd:annotation>
			<xsd:documentation>Defines a category of Parameters. Used to model hierarchies among Parameters.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CategoryType">
		<xsd:sequence>
			<xsd:element ref="ParameterSet" minOccurs="0"/>
			<xsd:element ref="SeriesSet" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="CategorySet" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contains multiple subcategories of Category.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
	</xsd:complexType>
	<xsd:element name="ParameterSet" type="ParameterSetType">
		<xsd:annotation>
			<xsd:documentation>Container for Name/Value Pairs</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="parameterName">
			<xsd:selector xpath="Parameter"/>
			<xsd:field xpath="@name"/>
		</xsd:unique>
	</xsd:element>
	<xsd:complexType name="ParameterSetType">
		<xsd:sequence>
			<xsd:element ref="Parameter" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItem"/>
	</xsd:complexType>
	<xsd:element name="Parameter" type="ParameterType">
		<xsd:annotation>
			<xsd:documentation>Name/Value Pair</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParameterType">
		<xsd:complexContent>
			<xsd:extension base="SingleValueType">
				<xsd:sequence>
					<xsd:element ref="Unit" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="SignableItemWithName"/>
				<xsd:attribute name="parameterType" type="ParameterTypeType" use="required">
					<xsd:annotation>
						<xsd:documentation>Data type of this parameter</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- -->
	<!--SimpleTypes for Series definitions-->
	<xsd:simpleType name="ContinuityType">
		<xsd:annotation>
			<xsd:documentation>Specifies whether the data points should be connected or not.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="discrete">
				<xsd:annotation>
					<xsd:documentation>Specifies whether the data points shouldn't be connected.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="continuous">
				<xsd:annotation>
					<xsd:documentation>Specifies whether the data points should be connected.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DependencyType">
		<xsd:annotation>
			<xsd:documentation>Specified whether the Series is independent or dependent.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="independent">
				<xsd:annotation>
					<xsd:documentation>Specified that the Series is independent.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="dependent">
				<xsd:annotation>
					<xsd:documentation>Specified that the Series is dependent.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScaleType">
		<xsd:annotation>
			<xsd:documentation>Specifies whether the data in this Series is typically plotted on a linear or logarithmic scale.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="linear">
				<xsd:annotation>
					<xsd:documentation>Specifies that the data in this Series is typically plotted on a linear scale.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="log">
				<xsd:annotation>
					<xsd:documentation>Specifies that the data in this Series is typically plotted on a common logarithmic scale.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ln">
				<xsd:annotation>
					<xsd:documentation>Specifies that the data in this Series is typically plotted on a natural logarithmic scale.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PlotUseType">
		<xsd:annotation>
			<xsd:documentation>Specifies whether a Series should be used for plotting or not. If set so "dimension", a new dimension will be created in the plot. If set to "attribute", no extra dimension is created.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="dimension">
				<xsd:annotation>
					<xsd:documentation>Specifies that a new dimension will be created in the plot..</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="attribute">
				<xsd:annotation>
					<xsd:documentation>Specifies that no extra dimension is created and that the values a being ploted.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VisibleType">
		<xsd:annotation>
			<xsd:documentation>Specifes whether a Series should be displayed by default.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:boolean"/>
	</xsd:simpleType>
	<!-- -->
	<!--Complex Types for Parameter and Series values, Simple Types for Data Type names-->
	<xsd:complexType name="UnboundedValueType">
		<xsd:annotation>
			<xsd:documentation>Base type for all value elements for use in Series and parameters. To be restricted.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="Int"/>
			<xsd:element ref="Long"/>
			<xsd:element ref="Float32"/>
			<xsd:element ref="Float64"/>
			<xsd:element ref="String"/>
			<xsd:element ref="Boolean"/>
			<xsd:element ref="DateTime"/>
			<xsd:element ref="PNG"/>
			<xsd:element ref="EmbeddedXML"/>
			<xsd:element ref="SVG"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="Int" type="IntType">
		<xsd:annotation>
			<xsd:documentation>Individual Integer Value (32 bits, signed).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="IntType">
		<xsd:annotation>
			<xsd:documentation>Individual Integer Value (32 bits, signed).</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:int"/>
	</xsd:simpleType>
	<xsd:element name="Long" type="LongType">
		<xsd:annotation>
			<xsd:documentation>Individual Long Integer Value (64 bits, signed).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="LongType">
		<xsd:annotation>
			<xsd:documentation>Individual Long Integer Value (64 bits, signed, maxInclusive is 9223372036854775807 and ·minInclusive·is -9223372036854775808.).</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:long"/>
	</xsd:simpleType>
	<xsd:element name="Float32" type="Float32Type">
		<xsd:annotation>
			<xsd:documentation>Individual 32-bit Floating Point Value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="Float32Type">
		<xsd:annotation>
			<xsd:documentation>Individual 32-bit Floating Point Value.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:float"/>
	</xsd:simpleType>
	<xsd:element name="Float64" type="Float64Type">
		<xsd:annotation>
			<xsd:documentation>Individual 64-bit Floating Point Value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="Float64Type">
		<xsd:annotation>
			<xsd:documentation>Individual 64-bit Floating Point Value.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:double"/>
	</xsd:simpleType>
	<xsd:element name="String" type="StringType">
		<xsd:annotation>
			<xsd:documentation>Individual String Value</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="StringType">
		<xsd:annotation>
			<xsd:documentation>Individual String Value</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="Boolean" type="BooleanType">
		<xsd:annotation>
			<xsd:documentation>Individual Boolean Value</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="BooleanType">
		<xsd:annotation>
			<xsd:documentation>Individual Boolean Value</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:element name="DateTime" type="DateTimeType">
		<xsd:annotation>
			<xsd:documentation>Individual ISO Date/Time Value</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="DateTimeType">
		<xsd:annotation>
			<xsd:documentation>Individual ISO Date/Time Value</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:element name="PNG" type="PNGType">
		<xsd:annotation>
			<xsd:documentation>Base 64 encoded PNG  image</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="PNGType">
		<xsd:annotation>
			<xsd:documentation>Base 64 encoded PNG  image</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:base64Binary"/>
	</xsd:simpleType>
	<xsd:element name="EmbeddedXML" type="EmbeddedXMLType">
		<xsd:annotation>
			<xsd:documentation>Value governed by a different XML Schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="EmbeddedXMLType">
		<xsd:annotation>
			<xsd:documentation>Value governed by a different XML Schema.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="SVG" type="SVGType">
		<xsd:annotation>
			<xsd:documentation>Value governed by the SVG  DTD. It is for representing images.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="SVGType">
		<xsd:annotation>
			<xsd:documentation>Value governed by the SVG DTD. Used for representing images.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="EmbeddedXMLType"/>
	</xsd:simpleType>
	<xsd:complexType name="SingleValueType">
		<xsd:annotation>
			<xsd:documentation>Elements for IndividualValueSets in Series.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="UnboundedValueType">
				<xsd:choice>
					<xsd:element ref="Int"/>
					<xsd:element ref="Long"/>
					<xsd:element ref="Float32"/>
					<xsd:element ref="Float64"/>
					<xsd:element ref="String"/>
					<xsd:element ref="Boolean"/>
					<xsd:element ref="DateTime"/>
					<xsd:element ref="PNG"/>
					<xsd:element ref="EmbeddedXML"/>
					<xsd:element ref="SVG"/>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NumericValueType">
		<xsd:annotation>
			<xsd:documentation>Elements for numeric Series values.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="UnboundedValueType">
				<xsd:choice>
					<xsd:element ref="Int"/>
					<xsd:element ref="Long"/>
					<xsd:element ref="Float32"/>
					<xsd:element ref="Float64"/>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ParameterTypeType">
		<xsd:annotation>
			<xsd:documentation>Names of Data Types for Parameters</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Int">
				<xsd:annotation>
					<xsd:documentation>Represents an individual integer value (32 bits, signed, maxInclusive·2147483647 and ·minInclusive·-2147483648).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Long">
				<xsd:annotation>
					<xsd:documentation>Represents an individual Long Integer Value (64 bits, signed, ·maxInclusive·is 9223372036854775807 and ·minInclusive·is -9223372036854775808.).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Float32">
				<xsd:annotation>
					<xsd:documentation>Represents an individual 32-bit Floating Point Value.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Float64">
				<xsd:annotation>
					<xsd:documentation>Represents an individual 64-bit Floating Point Value.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="String">
				<xsd:annotation>
					<xsd:documentation>Represents an individual String Value.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Boolean">
				<xsd:annotation>
					<xsd:documentation>Represents an individual Boolean Value.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DateTime">
				<xsd:annotation>
					<xsd:documentation>Represents an individual ISO Date/Time Value.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EmbeddedXML">
				<xsd:annotation>
					<xsd:documentation>Represents a Value governed by a different XML Schema..</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PNG">
				<xsd:annotation>
					<xsd:documentation>Base 64 encoded PNG  image</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SVG">
				<xsd:annotation>
					<xsd:documentation>Value governed by the SVG  DTD. It is for representing images.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SeriesTypeType">
		<xsd:annotation>
			<xsd:documentation>Names of Data Types for Series</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParameterTypeType"/>
	</xsd:simpleType>
	<xsd:simpleType name="SIUnitNameList">
		<xsd:annotation>
			<xsd:documentation>Names of all SI Units</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Represents a dimensionless unit.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="m">
				<xsd:annotation>
					<xsd:documentation>Represents a SIUnit meter.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="kg">
				<xsd:annotation>
					<xsd:documentation>Represents a SIUnit kilogram.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="s">
				<xsd:annotation>
					<xsd:documentation>Represents a SIUnit second.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Represents a SIUnit ampere.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="K">
				<xsd:annotation>
					<xsd:documentation>Represents a SIUnit kelvin.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="mol">
				<xsd:annotation>
					<xsd:documentation>Represents a SIUnit mole.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="cd">
				<xsd:annotation>
					<xsd:documentation>Represents a SIUnit candela.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!--AttributeGroup for sparse data-->
	<xsd:attributeGroup name="ValueSet">
		<xsd:annotation>
			<xsd:documentation>Start and End Index for this Set of Values (zero-based).</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="startIndex" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation>
				<xsd:documentation>Zero-based index where this Value Set starts. The specification is inclusive.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="endIndex" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation>
				<xsd:documentation>Zero-based Index of the last Entry in this Value Set. The specification is inclusive.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<!---->
	<!--Stuff for digital signatures and audit trail-->
	<xsd:attributeGroup name="SignableItem">
		<xsd:annotation>
			<xsd:documentation>ID for Signable Items.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:ID" use="optional">
			<xsd:annotation>
				<xsd:documentation>Anchor point for digital signature. This identifier is referred to from the "Reference" element in a Signature. Unique per document.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="SignableItemWithName">
		<xsd:annotation>
			<xsd:documentation>ID and Name attribute for Signable Items.</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref="SignableItem"/>
		<xsd:attribute name="name" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>Plain-text name of this item.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<!---->
	<!--Things used for multiple purposes-->
	<xsd:simpleType name="UserTypeType">
		<xsd:annotation>
			<xsd:documentation>Specifies whether a user is a real person, a device, or a software program.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="human">
				<xsd:annotation>
					<xsd:documentation>Specifies that the user is a real person.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="device">
				<xsd:annotation>
					<xsd:documentation>Specifies that the user is a device.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="software">
				<xsd:annotation>
					<xsd:documentation>Specifies that the user is a software system.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
THE ELEMENT IS NOT USED. 
	<xsd:element name="DataPointReference" type="DataPointReferenceType">
		<xsd:annotation>
			<xsd:documentation>Series and Value in Super-Page being referenced.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
-->
	<xsd:complexType name="DataPointReferenceType">
		<xsd:annotation>
			<xsd:documentation>Basis type for a reference to a data point or value range.</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref="SignableItemWithName"/>
		<xsd:attribute name="seriesID" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Contains the ID of the Series referenced.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="startIndex" type="xsd:nonNegativeInteger" use="required">
			<xsd:annotation>
				<xsd:documentation>Specifies the start value of the Series referenced. It can be either a Series index or a value within the value range of the Series specified.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="endIndex" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation>
				<xsd:documentation>Specifies how many values, starting from the startValue, should be referenced. Used to refer to an area, rather than an individual value.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="SIUnit" type="SIUnitType">
		<xsd:annotation>
			<xsd:documentation>Combination of SI units used to represent measurement unit</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SIUnitType">
		<xsd:annotation>
			<xsd:documentation>Combination of SI units used to represent measurement unit</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="SIUnitNameList">
				<xsd:attribute name="factor" type="xsd:float" use="optional" default="1"/>
				<xsd:attribute name="exponent" type="xsd:float" use="optional" default="1"/>
				<xsd:attribute name="offset" type="xsd:float" use="optional" default="0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LabelType">
		<xsd:annotation>
			<xsd:documentation>Contains a name/symbol to discribe a scientific unit of measure.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!---->
	<!--Tracking Tag Elements and Types-->
	<xsd:element name="TrackingTagSet" type="TrackingTagSetType">
		<xsd:annotation>
			<xsd:documentation>Set of Tracking Tags</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrackingTagSetType">
		<xsd:annotation>
			<xsd:documentation>Set of Tracking Tags</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TrackingTag" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TrackingTag" type="TrackingTagType">
		<xsd:annotation>
			<xsd:documentation>Tag to mark related data items. When a value is given, it may also serve as a reference to an external data system.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrackingTagType">
		<xsd:annotation>
			<xsd:documentation>Tag to mark related data items. When a value is given, it may also serve as a reference to an external data system.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="xsd:token" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Manufacturer" type="xsd:token">
		<xsd:annotation>
			<xsd:documentation>Company name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Version">
		<xsd:annotation>
			<xsd:documentation>Version identifier of software release.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SoftwareType">
		<xsd:sequence>
			<xsd:element ref="Manufacturer" minOccurs="0"/>
			<xsd:element ref="Name"/>
			<xsd:element ref="Version" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Software" type="SoftwareType">
		<xsd:annotation>
			<xsd:documentation>Software used to create this.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DeviceType">
		<xsd:sequence>
			<xsd:element ref="Manufacturer"/>
			<xsd:element ref="Name"/>
			<xsd:element ref="FirmwareVersion" minOccurs="0"/>
			<xsd:element ref="SerialNumber" minOccurs="0"/>
			<xsd:element ref="TrackingTagSet" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FirmwareVersion" type="xsd:token">
		<xsd:annotation>
			<xsd:documentation>Version identifier of firmware software release</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SerialNumber" type="xsd:token">
		<xsd:annotation>
			<xsd:documentation>Unique serial number of device.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Device" type="DeviceType"/>
</xsd:schema>
